<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1>Enter Your Place Details</h1><br />
  <%= simple_form_for @place do |f| %>
    <%= f.input :name, label: 'Name:' %>
    <%= f.input :address, label: 'Address:' %>
    <%= f.input :description, label: 'Description:' %>
    <br />
    <%= f.submit 'Create', class: 'btn btn-primary' %>
  <% end %>
</div>